{% extends 'base.html.twig' %}

{% block title %}BloggerProfile index{% endblock %}

{% block body %}
    <h1>BloggerProfile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Bio</th>
                <th>Niche</th>
                <th>Location</th>
                <th>Reach</th>
                <th>CollaborationsCount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogger_profile in blogger_profiles %}
            <tr>
                <td>{{ blogger_profile.id }}</td>
                <td>{{ blogger_profile.name }}</td>
                <td>{{ blogger_profile.bio }}</td>
                <td>{{ blogger_profile.niche }}</td>
                <td>{{ blogger_profile.location }}</td>
                <td>{{ blogger_profile.reach }}</td>
                <td>{{ blogger_profile.collaborationsCount }}</td>
                <td>
                    <a href="{{ path('app_blogger_profile_show', {'id': blogger_profile.id}) }}">show</a>
                    <a href="{{ path('app_blogger_profile_edit', {'id': blogger_profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blogger_profile_new') }}">Create new</a>
{% endblock %}
